@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
  @apply dark:text-gray-200;

  @apply bg-gray-50;
  @apply dark:bg-gray-950;
}

/* width */
::-webkit-scrollbar {
  @apply w-1.5;
  @apply h-1.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-md;
  @apply bg-gray-200/30;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-md;
  @apply bg-gray-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

.tiptap {
  overflow-y: auto;
  border: none;
}

.ProseMirror {
  padding-top: 0.5rem;
  padding-left: 8px;
  padding-bottom: 0.5rem;
  padding-right: 8px;
}

.ProseMirror ol {
  padding: 0 1rem;
  font-size: 0.8rem;
  list-style-type: decimal !important;
}

.ProseMirror p {
  @apply text-[0.8rem];
}

.collaboration-cursor__caret {
  position: relative;
  margin-left: 1px;
  margin-right: -1px;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  word-break: normal;
  pointer-events: none;
}

.collaboration-cursor__label {
  position: absolute;
  top: -1.2em;
  left: -1px;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
  color: #0d0d0d;
  padding: 0.1rem 0.3rem;
  border-radius: 3px 3px 3px 0;
  white-space: nowrap;
  opacity: 0.8;
}

.ProseMirror ul {
  padding: 0 1rem;
  font-size: 0.7rem;
  list-style-type: disc !important;
}
.ProseMirror:focus {
  outline: none;
}

code {
  font-size: 0.8rem;
  padding: 0.1em;
  border-radius: 0.25em;
  background-color: rgb(72, 66, 97);
  color: white;
  box-decoration-break: clone;
}
.sx__calendar-header {
  @apply dark:!bg-slate-900 dark:!border-slate-700 !items-center bg-white dark:!text-white;
}

.sx__view-container {
  @apply dark:!bg-slate-900 dark:!border-slate-700 bg-white dark:!text-white;
}

.sx__month-grid-day {
  @apply dark:!border-slate-700;
}

.sx__month-grid-week {
  @apply dark:!border-slate-700;
}

.sx__calendar {
  @apply dark:!border-slate-800;
}
.sx__chevron {
  @apply dark:!border-white;
}

.sx__chevron-wrapper {
  @apply hover:dark:!bg-slate-800 focus:dark:!bg-slate-800 dark:!text-white;
}

.sx__today-button {
  @apply hover:dark:!bg-slate-800 focus:dark:!bg-slate-800 !py-1 dark:!border-slate-800 dark:!text-white;
}
.sx__view-selection-selected-item {
  @apply hover:dark:!bg-slate-800 focus:dark:!bg-slate-800 !py-1 dark:!border-slate-800 dark:!text-white;
}
.sx__date-input {
  @apply dark:!bg-slate-900 hover:dark:!bg-slate-800 focus:dark:!bg-slate-800 !py-1 dark:!border-slate-800 dark:!text-white;
}
.sx__month-agenda-week {
  @apply dark:!border-slate-700;
}

.sx__date-input-label {
  @apply dark:!bg-slate-900 dark:!border-slate-700 bg-white dark:!text-white;
}

.sx__date-picker-popup {
  @apply dark:!bg-slate-900 dark:!border-slate-700 bg-white dark:!text-white;
}

.sx__date-picker__day {
  @apply dark:!border-slate-700 dark:!text-white;
}
.is-leading-or-trailing {
  @apply dark:!border-slate-700 dark:!text-gray-400;
}

.sx__date-picker__month-view-header__month-year {
  @apply dark:!text-white;
}
